%h1 Welcome!
%p At MyLabResults, we provide simple medical testing services to the public, with convenient access to your results via our online portal. Log in or register now to get started!
- unless current_user
  .cta
    = link_to new_patient_path, class: 'btn btn-primary' do
      %i.fa.fa-user-plus
      New Patient
%br
%br
%br
%br
%br
%br
