%h1
  %i.fa.fa-tools
  Under Construction
  %i.fa.fa-tools
%p Some of our features are not available yet at this time. Please check back later.
%p
  = link_to root_path, class: 'btn btn-secondary' do
    %i.fa.fa-arrow-left
    Back
%br
%br
%br
%br
%br
%br
%br
